<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <link href="../../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1> Books </h1>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/book}"> Add Book</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Title </th>
                    <th> Author </th>
                    <th> View </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${books.empty}">
                    <td colspan="2"> No Books Available </td>
                </tr>
                <tr th:each="book : ${books}">
                    <td><span th:text="${book.title}"> Title </span></td>
                    <td><span th:text="${book?.author?.name}"> Author </span></td>

                    <td><a class="btn btn-primary" href="#" th:href="@{'/book?isbn=' + ${book.isbn}}" th:classappend="${books.empty} ? 'disabled' : ''"> View</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>