<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Mappings -->
    <mapping resource="AccountHolder.hbm.xml"/>
    <mapping resource="Account.hbm.xml"/>
    <mapping resource="OtherBankAccount.hbm.xml"/>
    <mapping resource="Debit.hbm.xml"/>
    <mapping resource="Credit.hbm.xml"/>
    <mapping resource="AccountHolderLogin.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
